//fonts-size
$fz-btn:10px;
$fz-s: 13px;
$fz-m: 14px;
$fz-l: 16px;
$fz-xl: 21px;
$fz-h1: 28px;

//fonts
$libre: 'Libre Baskerville', serif;
$poppins: 'Poppins', sans-serif;

//colors
$white: white;
$black: black;
$red: #d13f4a;
$green: #469134;
$light-blue: #24cedd;
$blue: #2f81c0;
$sidebar-heading: #181818;

//color-fonts 
$grey: #484848;
$light-grey: #999999;