/* http://meyerweb.com/eric/tools/css/reset/ */
/* v1.0 | 20080212 */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

a {
  text-decoration: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

/* remember to define focus styles! */
:focus {
  outline: 0; }

/* remember to highlight inserts somehow! */
ins {
  text-decoration: none; }

del {
  text-decoration: line-through; }

/* tables still need 'cellspacing="0"' in the markup */
table {
  border-collapse: collapse;
  border-spacing: 0; }

html {
  font-size: 10px; }

body {
  font-size: 100%; }

.bg-site {
  width: 100%;
  max-width: 1500px;
  background-image: url(../img/bg-csgo.jpg);
  background-repeat: no-repeat;
  height: 2212px;
  margin: 0 auto; }

.hb-btn {
  display: none;
  width: 40px;
  height: 40px;
  background-color: #fff;
  position: fixed;
  z-index: 9999; }

.hb-btn .hb, .hb:before, .hb:after {
  display: block;
  height: 2px;
  width: 18px;
  position: absolute;
  left: 50%;
  margin-left: -9px;
  margin-top: -1px;
  top: 50%;
  background-color: #333; }

.hb:before {
  content: '';
  margin-top: -6px;
  transition: all 0.2s; }

.hb:after {
  content: '';
  margin-top: 4px;
  transition: all 0.2s; }

.hb-btn_active .hb {
  background-color: transparent; }

.hb-btn_active .hb:before {
  transform: rotate(135deg);
  margin-top: 0; }

.hb-btn_active .hb:after {
  transform: rotate(-135deg);
  margin-top: 0; }

.header {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  background-color: #111;
  max-width: 1500px;
  width: 100%;
  font-family: "Poppins", sans-serif;
  height: auto;
  padding-top: 15px;
  padding-bottom: 15px;
  z-index: 99; }
  .header-logo {
    padding: 10px;
    margin-right: 75px;
    width: 220px; }
    .header-logo a {
      display: block;
      text-align: center;
      font-size: 17px;
      line-height: 18px;
      color: white;
      text-transform: uppercase; }
      .header-logo a small {
        font-size: 12px;
        transition: .2s ease; }
      .header-logo a:hover small {
        color: #d13f4a; }
  .header-menu {
    display: flex;
    justify-content: space-between;
    margin-left: 75px; }
    .header-menu li {
      padding: 10px; }
      .header-menu li a {
        display: block;
        padding: 5px 15px;
        font-size: 14px;
        text-transform: uppercase;
        font-weight: 700;
        transition: .2s ease;
        color: white;
        transition: .3s linear; }
        .header-menu li a:hover {
          color: #d13f4a;
          background-color: #181818; }

.header-title {
  display: block;
  padding-top: 250px;
  margin-left: auto;
  margin-right: auto;
  font-family: "Poppins", sans-serif;
  text-align: center; }
  .header-title span {
    display: block;
    width: 150px;
    color: white;
    text-transform: uppercase;
    font-size: 15px;
    line-height: 18px;
    font-weight: 700;
    background-color: #d13f4a;
    padding: 10px 25px;
    padding-bottom: 0;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    margin: 0 auto;
    box-sizing: border-box; }
  .header-title h1 {
    display: block;
    max-width: 600px;
    width: 100%;
    margin: 0 auto;
    font-size: 28px;
    color: white;
    background-color: #111;
    padding: 15px 25px;
    text-transform: uppercase;
    box-sizing: border-box; }
  .header-title small {
    display: block;
    max-width: 450px;
    width: 100%;
    margin: 0 auto;
    color: white;
    font-size: 14px;
    padding: 10px 25px;
    background-color: #0a0908;
    box-sizing: border-box; }

.content {
  max-width: 970px;
  width: 100%;
  display: flex;
  justify-content: center;
  height: 1740px;
  margin: 100px auto 0;
  font-family: "Poppins", sans-serif; }
  .content img {
    width: 100%; }
  .content-col {
    max-width: 670px;
    width: 100%;
    background-color: white;
    padding: 10px; }
    .content-col-news {
      max-width: 650px;
      height: 50px;
      background-color: #f3f3f3;
      border-right: 6px solid #d13f4a; }
      .content-col-news span {
        display: inline-block;
        padding-top: 15px;
        padding-left: 25px;
        padding-bottom: 15px;
        color: #999;
        font-size: 16px;
        line-height: 18px;
        font-weight: 700; }
    .content-col-img {
      margin-top: 10px; }
      .content-col-img img {
        width: 100%; }
    .content-col .content-flex {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      margin-top: 20px;
      margin-bottom: 10px; }
      .content-col .content-flex__links a {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 80px;
        height: 10px;
        color: white;
        text-transform: uppercase;
        font-size: 10px;
        line-height: 22px;
        margin-bottom: 5px;
        margin-right: 15px;
        padding: 5px;
        font-weight: 600;
        transition: .2s linear; }
        .content-col .content-flex__links a:hover {
          transform: scale(1.05) translateX(3px) translateY(-3px); }
      .content-col .content-flex__links .data-link {
        background-color: #d13f4a; }
      .content-col .content-flex__links .view-link {
        background-color: #469134; }
      .content-col .content-flex__links .twit-link {
        background-color: #24cedd; }
      .content-col .content-flex__links .fbook-link {
        background-color: #2f81c0; }
      .content-col .content-flex__links .read-link {
        background-color: #d13f4a;
        justify-content: center;
        height: 35px;
        font-size: 11px;
        font-weight: 600; }
      .content-col .content-flex__title {
        max-width: 520px; }
        .content-col .content-flex__title h2 {
          color: #484848;
          font-size: 21px;
          line-height: 22px;
          font-weight: 400;
          letter-spacing: 2.1px;
          border-left: 5px solid #d13f4a;
          padding-left: 30px; }
        .content-col .content-flex__title p {
          font-style: italic;
          color: #484848;
          font-size: 13px;
          line-height: 22px;
          letter-spacing: 1.3px;
          margin-top: 17px;
          padding-left: 35px; }
    .content-col-pagination {
      display: flex;
      justify-content: center;
      width: 100px;
      margin: 0 auto; }
      .content-col-pagination a {
        display: block;
        width: 12px;
        height: 12px;
        margin: 3px;
        border-radius: 4px;
        background-color: black;
        opacity: .6; }
        .content-col-pagination a:first-child {
          opacity: .3; }
        .content-col-pagination a:nth-child(2) {
          opacity: .5; }
        .content-col-pagination a:hover {
          background-color: #262626; }
  .content-sidebar {
    max-width: 300px;
    width: 100%;
    background-color: black;
    padding: 10px; }
    .content-sidebar .sidebar-heading {
      max-width: 280px;
      height: 50px;
      background-color: #181818;
      border-right: 6px solid #d13f4a; }
      .content-sidebar .sidebar-heading h3 {
        font-size: 16px;
        font-weight: 600;
        line-height: 18px;
        color: #999999;
        padding-top: 15px;
        padding-bottom: 15px;
        padding-left: 25px; }
    .content-sidebar .sidebar-flex {
      display: flex;
      flex-direction: column;
      margin-top: 5px;
      margin-bottom: 5px;
      max-width: 280px; }
      .content-sidebar .sidebar-flex a {
        display: flex;
        justify-content: space-between;
        padding: 10px;
        transition: .2s linear; }
        .content-sidebar .sidebar-flex a:hover {
          background-color: #1a1a1a; }
        .content-sidebar .sidebar-flex a img {
          width: 18px; }
        .content-sidebar .sidebar-flex a span {
          color: white;
          font-size: 16px;
          font-weight: 600;
          line-height: 18px;
          text-transform: uppercase; }
    .content-sidebar__video {
      position: relative;
      margin-top: 5px;
      margin-bottom: 5px;
      max-width: 280px; }
      .content-sidebar__video img {
        opacity: .5; }
      .content-sidebar__video a {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        font-size: 50px;
        color: #d13f4a;
        transition: .2s ease; }
        .content-sidebar__video a:hover {
          color: white; }
    .content-sidebar .divisions-flex {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      max-width: 280px;
      margin: 5px;
      margin-left: 0;
      margin-right: 0;
      padding: 2px;
      transition: .2s linear; }
      .content-sidebar .divisions-flex img {
        display: block;
        width: 40px;
        transition: .2s linear; }
        .content-sidebar .divisions-flex img:hover {
          margin-left: 5px; }
      .content-sidebar .divisions-flex p {
        display: block;
        color: white;
        font-size: 13px;
        text-transform: uppercase;
        text-align: right;
        align-self: center;
        font-weight: 700; }
        .content-sidebar .divisions-flex p a {
          display: block;
          color: #d13f4a;
          font-size: 10px;
          transition: .2s linear;
          margin-top: 2px; }
          .content-sidebar .divisions-flex p a:hover {
            color: #9e262f;
            padding-right: 8px; }
      .content-sidebar .divisions-flex:hover {
        background-color: #1a1a1a; }
    .content-sidebar .sponsor-img {
      margin: 5px;
      margin-left: 0;
      margin-right: 0; }
      .content-sidebar .sponsor-img a {
        transition: .2s ease; }
        .content-sidebar .sponsor-img a img {
          max-width: 280px;
          width: 100%; }
        .content-sidebar .sponsor-img a:hover {
          opacity: .7; }
    .content-sidebar .gallery-flex {
      display: flex;
      max-width: 280px;
      justify-content: center;
      flex-wrap: wrap;
      margin-top: 10px;
      margin-bottom: 10px; }
      .content-sidebar .gallery-flex a img {
        display: block;
        width: 85px;
        margin: 3px;
        margin-bottom: 0;
        border-bottom: 3px solid transparent;
        transition: .6s ease;
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%); }
      .content-sidebar .gallery-flex a:hover img {
        clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
        border-bottom: 3px solid #d13f4a; }
    .content-sidebar .streams {
      margin-top: 10px;
      margin-bottom: 10px;
      text-align: right;
      max-width: 280px; }
      .content-sidebar .streams img {
        display: block;
        max-width: 280px;
        width: 100%;
        margin-bottom: 5px;
        transition: .5s ease; }
        .content-sidebar .streams img:hover {
          opacity: .8; }
      .content-sidebar .streams-flex {
        display: flex;
        justify-content: space-between; }
        .content-sidebar .streams-flex a:hover span {
          color: #9e262f; }
        .content-sidebar .streams-flex__name {
          color: #d13f4a;
          font-size: 13px;
          font-weight: 700;
          line-height: 18px;
          text-transform: uppercase;
          transition: .2s ease; }
        .content-sidebar .streams-flex__online {
          font-size: 11px;
          font-style: italic;
          color: white; }
        .content-sidebar .streams-flex__game {
          font-size: 13px;
          font-weight: 700;
          line-height: 18px;
          text-transform: uppercase;
          color: white; }
    .content-sidebar .twit-flex {
      display: flex;
      justify-content: space-between;
      margin-top: 10px;
      max-width: 280px; }
      .content-sidebar .twit-flex a {
        transition: .2s ease; }
        .content-sidebar .twit-flex a img {
          display: block;
          width: 37px;
          transition: .2s ease;
          clip-path: polygon(100% 0, 100% 50%, 100% 100%, 0% 100%, 0 50%, 0% 0%); }
          .content-sidebar .twit-flex a img:hover {
            clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 0% 100%, 25% 50%, 0% 0%); }
        .content-sidebar .twit-flex a:hover {
          transform: scale(0.9); }
      .content-sidebar .twit-flex p {
        font-size: 9px;
        color: white;
        font-style: italic;
        padding-left: 10px;
        line-height: 12px; }
        .content-sidebar .twit-flex p .date {
          display: flex;
          justify-content: space-between; }

/*# sourceMappingURL=style.css.map */
